@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-bottom-left {
  from {
    opacity: 0;
    transform: translate3d(-150%, 150%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-bottom-left {
  animation: fade-in-bottom-left 1s ease-out 1;
}
